@font-face {
    font-family: 'Florisa';
    src:url(../public/Fonts/Florisa-PersonalUse.otf);
}
@font-face {
    font-family: 'LemonMilk-Bold';
    src:url(../public/Fonts/LEMONMILK-Bold.otf);
}
@font-face {
    font-family: 'LemonMilk-BoldItalic';
    src:url(../public/Fonts/LEMONMILK-BoldItalic.otf);
}
@font-face {
    font-family: 'LemonMilk-Light';
    src:url(../public/Fonts/LEMONMILK-Light.otf);
}
@font-face {
    font-family: 'LemonMilk-BoldItalic';
    src:url(../public/Fonts/LEMONMILK-BoldItalic.otf);
}
@font-face {
    font-family: 'LemonMilk-Medium';
    src:url(../public/Fonts/LEMONMILK-Medium.otf);
}
@font-face {
    font-family: 'LemonMilk-MediumItalic';
    src:url(../public/Fonts/LEMONMILK-MediumItalic.otf);
}
@font-face {
    font-family: 'LemonMilk-Regular';
    src:url(../public/Fonts/LEMONMILK-Regular.otf);
}
@font-face {
    font-family: 'LemonMilk-RegularItalic';
    src:url(../public/Fonts/LEMONMILK-RegularItalic.otf);
}
@font-face {
    font-family: 'NeueMachina-Light';
    src:url(../public/Fonts/NeueMachina-Light.otf);
}
@font-face {
    font-family: 'NeueMachina-Regular';
    src:url(../public/Fonts/NeueMachina-Regular.otf);
}
@font-face {
    font-family: 'NeueMachina-UltraBold';
    src:url(../public/Fonts/NeueMachina-Ultrabold.otf);
}
@font-face {
    font-family: 'ShapiroLight';
    src:url(../public/Fonts/ShapiroLight.otf);
}
@font-face {
    font-family: 'ShapiroAir';
    src:url(../public/Fonts/ShapiroAir.otf);
}
@font-face {
    font-family: 'ShapiroFeather';
    src:url(../public/Fonts/ShapiroFeather.otf);
}
@font-face {
    font-family: 'Silka-Regular';
    src:url(../public/Fonts/Silka-Regular.otf);
}
@font-face {
    font-family: 'Silka-RegularItalic';
    src:url(../public/Fonts/Silka-RegularItalic.otf);
}
@font-face {
    font-family: 'AutumnDays-PersonalUse-Clipart';
    src:url(../public/Fonts/AutumnDays-PersonalUse-Clipart.otf);
}
@font-face {
    font-family: 'AutumnDays-PersonalUse-Regular';
    src:url(../public/Fonts/AutumnDays-PersonalUse-Regular.otf);
}
@font-face {
    font-family: 'Anabelle-Script';
    src:url(../public/Fonts/Anabelle-Script.ttf);
}
@font-face {
    font-family: 'Anabelle-Extras';
    src:url(../public/Fonts/Anabelle-Extras.ttf);
}
@font-face {
    font-family: 'LeafCrownDemoOutline';
    src:url(../public/Fonts/LeafCrownDemoOutline.ttf);
}
@font-face {
    font-family: 'LeafCrownDemoRegular';
    src:url(../public/Fonts/LeafCrownDemoRegular.ttf);
}
@font-face {
    font-family: 'FallIsComingRegular';
    src:url(../public/Fonts/FallIsComingRegular-Mx9B.ttf);
}





